{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="section">
    <h2>Our Departments</h2>
    <div class="cards-grid">
        {% for department in departments %}
        <div class="card">
            <img src="{% static department.image %}" alt="{{ department.name }}">
            <h3>{{ department.name }}</h3>
            <p>{{ department.description|truncatewords:20 }}</p>
            <a href="{% url 'clinic:department_detail' department.pk %}">View Department</a>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}